/*categories*/

#categories {
    position: absolute;
    top: 0px;
    left: 334px;
}

#categories .thmb {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #aaa;*/
    width: 100%;
    height: 100%;
}

#categories .active .thmb {
    width: 217px;
    height: 324px;
    top: -25px;
    left: -17px;
}

#categories #home_red_carpet .active .thmb {
    width: 951px;
    height: 360px;
    top: -7px;
    left: -8px;
    /* background-size: 207px 311px,105%,107%; */
}

#categories #home_featured .active .thmb {
    width: 689px;
    height: 298px;
    left: -18px;
    top: -9px;
    /*background-size: contain;*/
}

#categories #home_featured .active .placeholder {
    background-image: url(assets/focus/fcs_home_featured.png);
    width: 751px;
    height: 344px;
    left: -41px;
    top: -32px;
    background-size: 735px 344px;
    background-repeat: no-repeat;
}

#categories #home_red_carpet .active .placeholder {
    background-image: url(assets/focus/fcs_home_red_carpet.png);
    width: 997px;
    height: 406px;
    left: -31px;
    top: -30px;
    background-size: 997px 406px;
    background-repeat: no-repeat;
}