/*modalpininsert*/

#ModalPinInsert {
    top: 73px;
    height: 575px;
    -webkit-transition-property: height;
    -webkit-transition-duration: 3s;
    -moz-transition-property: height;
    -moz-transition-duration: 3s;
    transition-property: height;
    transition-duration: 10s;
}

#popup_pin_description {
    position: absolute;
    left: 377px;
    top: 56px;
    font-family: OpenSansSemibold, sans-serif;
    font-size: 24px;
}

#popup_pin_error {
    position: absolute;
    left: 310px;
    top: 95px;
    font-family: OpenSansSemibold, sans-serif;
    font-size: 26px;
    color: #ae1927;
}

#popup_pinInput {
    position: absolute;
    top: 143px;
    left: 568px;
    max-width: 401px;
    height: 69px;
    color: #FFFFFF;
    letter-spacing: 8px;
    background-color: #1e1e1e;
    font-size: 36px !important;
    font-family: OpenSansSemibold, sans-serif !important;
    line-height: 80px;
    display: inline-block;
    margin-left: 21px !important;
}

#popup_pinInput.has-cursor:after {
    content: '|';
    position: absolute;
    right: -20px;
    margin-left: 0;
    font-size: 50px;
    bottom: -4px;
}

#white_line2 {
    border-bottom: solid 2px #FFFFFF;
    width: 401px;
    position: absolute;
    top: 212px;
    left: 440px;
}

#pin_keyboard {
    position: absolute;
    top: 236px;
    left: 496px;
    width: 280px;
    height: 164px;
    font-family: OpenSansRegular, sans-serif;
    font-size: 30px;
}

#pin_keyboard_1, #pin_keyboard_2, #pin_keyboard_3, #pin_keyboard_4, #pin_keyboard_5 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
}

#pin_keyboard_2, #pin_keyboard_7 {
    left: 58px;
}

#pin_keyboard_del {
    left: 48px;
}

#pin_keyboard_3, #pin_keyboard_8 {
    left: 114px;
}

#pin_keyboard_4, #pin_keyboard_9 {
    left: 170px;
}

#pin_keyboard_clear {
    left: 158px;
}

#pin_keyboard_5, #pin_keyboard_0 {
    left: 228px;
}

#pin_keyboard_6, #pin_keyboard_7, #pin_keyboard_8, #pin_keyboard_9, #pin_keyboard_0 {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 60px
}

#pin_keyboard_del, #pin_keyboard_clear {
    top: 120px;
    height: 48px;
    position: absolute;
}

#pin_keyboard_del {
    width: 64px;
}

#pin_keyboard_clear {
    width: 84px;
}

.pinClassClear,
.pinClassDel,
.pinClassNumber {
    text-align: center;
    line-height: 48px;
}

.pinClassClear.focus,
.pinClassDel.focus,
.pinClassNumber.focus {
    background-color: #ae1927;
}

#pin_btn_confirm {
    position: absolute;
    top: 459px;
    left: 514px;
    font-family: OpenSansRegular, sans-serif;
    font-size: 24px;
    background: #333333;
    width: 253px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

#pin_btn_confirm.focus, #info_btn_close.focus {
    background-color: #ae1927;
}

#pin_back {
    position: absolute;
    top: 510px;
    left: 979px;
    font-family: OpenSansBold, sans-serif;
    font-size: 18px;
    width: 200px;
    height: 40px;
    background: url(assets/backarrow.png) no-repeat;
    padding: 3px 0 0 45px;
}

/*ModalPinFirst*/
#btn_goBack_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*ModalMessage  && ModalFeatRegSuccess*/
#btn_exit_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
