<div id="CarouselsList" class="CarouselsList" style="position:absolute;width:50px;height:50px">
  <div class="action" style="position:absolute;width:1095px;height:499px">
    <div class="clip">
      <div class="CarouselsList_Container"
           style="transition-duration:0.2s;position:absolute;left:0;top:0;width:1280px;height:100px">
      </div>
    </div>
  </div>
  <div class="Left_Arrow Arrow hoverButton"></div>
  <div class="Right_Arrow Arrow hoverButton"></div>
  <div class="Up_Arrow Arrow hoverButton"></div>
  <div class="Down_Arrow Arrow hoverButton"></div>
</div>