<div id="CreditCardHandlerContainer">
  <div id="creditCardHandler_main_info"></div>
  <div id="creditCardHandler_error"></div>
  <div id="creditCardHandler_btn" class="hoveritem"></div>
  <div id="creditCardHandler_extra_info"></div>
  <table id="creditCardInfos">
    <tr> <!--  titles: First and Last Name -->
      <th id="creditCardTitle_firstName">
        <div class="greenCheck"></div>
      </th>
      <th id="creditCardTitle_lastName">
        <div class="greenCheck"></div>
      </th>
    </tr>
    <tr> <!--  infos: First and Last Name -->
      <td id="creditCard_firstName">&nbsp</td>
      <td id="creditCard_lastName">&nbsp</td>
    </tr>
    <tr> <!--  titles: Number and Mont/Year -->
      <th id="creditCardTitle_number">
        <div class="greenCheck"></div>
      </th>
      <th id="creditCardTitle_monthyear">
        <div class="greenCheck"></div>
      </th>
    </tr>
    <tr> <!--  infos: Number and Mont/Year -->
      <td id="creditCard_number">&nbsp</td>
      <td id="creditCard_monthyear">&nbsp</td>
    </tr>
    <tr> <!-- title: CVV -->
      <th id="creditCardTitle_cvv">
        <div class="greenCheck"></div>
      </th>
      <th></th>
    </tr>
    <tr> <!-- info: CVV -->
      <td id="creditCard_cvv">&nbsp</td>
      <td></td>
    </tr>
  </table>
</div>