<div id="FavouritesVCarousel" class="V_Carousel">
  <div id="Top_Arrow" class="V_Carousel Arrow hoveritem"></div>
  <ul>
    <li id="V_Carousel_Item_pos_0" class="carouselElement">
      <!--all image an text elements can go here-->
      <div id="V_Carousel_Item_pos_0_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </li>
    <li id="V_Carousel_Item_pos_1" class="carouselElement">
      <!--all image an text elements can go here-->
      <div id="V_Carousel_Item_pos_1_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </li>
    <li id="V_Carousel_Item_pos_2" class="carouselElement">
      <!--all image an text elements can go here-->
      <div id="V_Carousel_Item_pos_2_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </li>
    <!--<div id="add">-->
    <!--<img id="bg_add" src="css/assets/bg_add.png"/>-->
    <!--</div>-->
  </ul>
  <div id="Bottom_Arrow" class="V_Carousel Arrow hoveritem"></div>
</div>
