<div id="Grid" class="Grid" style="position:absolute;width:1130px;height:50px">
  <div class="action" style="position:absolute;width:100px;height:499px">
    <div class="clip">
      <div class="Grid_Container"
           style="transition-duration:0.2s;position:absolute;left:0;top:0;width:100px;height:100px">
        <div id="Grid_row_0" class="gridRow" style="position:absolute;left:0;top:0;width:100px;height:251px">
          <div id="Grid_row_0_Item_pos_0" class="gridElement">
            <div class="content">
              <!--all image an text elements can go here-->
            </div>
            <div id="Grid_row_0_Item_pos_0_Overlay" class="Grid_Item_Overlay hoveritem"></div>
          </div>
          <div id="Grid_row_0_Item_pos_1" class="gridElement">
            <div class="content">
              <!--all image an text elements can go here-->
            </div>
            <div id="Grid_row_0_Item_pos_1_Overlay" class="Grid_Item_Overlay hoveritem"></div>
          </div>
        </div>
        <div id="Grid_row_1" class="gridRow" style="position:absolute;left:0;top:0;width:100px;height:251px">
          <div id="Grid_row_1_Item_pos_0" class="gridElement">
            <div class="content">
              <!--all image an text elements can go here-->
            </div>
            <div id="Grid_row_1_Item_pos_0_Overlay" class="Grid_Item_Overlay hoveritem"></div>
          </div>
          <div id="Grid_row_1_Item_pos_1" class="gridElement">
            <div class="content">
              <!--all image an text elements can go here-->
            </div>
            <div id="Grid_row_1_Item_pos_1_Overlay" class="Grid_Item_Overlay hoveritem"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Left_Arrow Arrow hoverButton"></div>
  <div class="Right_Arrow Arrow hoverButton"></div>
  <div class="Up_Arrow Arrow hoverButton"></div>
  <div class="Down_Arrow Arrow hoverButton"></div>
</div>