<div id="HorizontalCarousel" class="H_Carousel">
  <div id="Left_Arrow" class="H_Carousel Arrow hoveritem"></div>
  <div id="HC_Container">
    <div id="H_Carousel_Item_pos_0" class="carouselElement">
      <div class="content"><!--all image an text elements can go here--></div>
      <div id="H_Carousel_Item_pos_0_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </div>
    <div id="H_Carousel_Item_pos_1" class="carouselElement">
      <div class="content"><!--all image an text elements can go here--></div>
      <div id="H_Carousel_Item_pos_1_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </div>
    <div id="H_Carousel_Item_pos_2" class="carouselElement">
      <div class="content"><!--all image an text elements can go here--></div>
      <div id="H_Carousel_Item_pos_2_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </div>
    <div id="H_Carousel_Item_pos_3" class="carouselElement">
      <div class="content"><!--all image an text elements can go here--></div>
      <div id="H_Carousel_Item_pos_3_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </div>
  </div>
  <div id="Right_Arrow" class="H_Carousel Arrow hoveritem"></div>
</div>