<div id="MainKeyboard">
  <div id="FlixLogo"></div>
  <div id="keyboardBox">
    <div class="inputContainer">
      <div id="keyboardInput"></div>
    </div>
    <div id="white_line"></div>
    <div id="keyboardContainer">
      <div class="keyboardFirstRow">
        <div class="keyboardLetters"></div>
      </div>
      <div class="keyboardSecondRow">
        <div class="keyboardLetters"></div>
      </div>
      <div class="keyboardThirdRow">
        <div class="keyboardLetters"></div>
      </div>
      <div class="keyboardFourthRow">
        <div class="keyboardLetters"></div>
      </div>
      <div class="keyboardFifthRow">
        <div id="keyboard-4-0" class="keyboardShift hoveritem">
          <div></div>
          <span class="keyboardShiftText">!?@-</span>
        </div>
        <div id="keyboard-4-1" class="keyboardSpace hoveritem">
          <div></div>
          <span class="keyboardSpaceText"></span>
        </div>
        <div id="keyboard-4-2" class="keyboardDelete hoveritem">
          <div></div>
          <span class="keyboardDeleteText"></span>
        </div>
        <div id="keyboard-4-3" class="keyboardClear hoveritem">
          <div></div>
          <span class="keyboardClearText"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="ExtraInfo"></div>
</div>