<div id="MediaPlayer">
  <div id="previewThumbs"></div>
  <div id="MediaPlayerControls" class="playerFooter">
    <div id="thumbnailList"></div>
    <div id="playerFooter">
      <div id="progressBar" class="playerFooter">
        <div id="buffer" class="playerFooter"></div>
        <div id="progress" class="playerFooter"></div>
      </div>
      <div id="indexCounter" class="playerFooter"></div>
      <div id="back" class="playerFooter hoveritemBack"></div>
      <div id="skipBack" class="playerFooter btn hoveritem">
      </div>
      <div id="playPause" class="playerFooter btn hoveritem paused">
        <div class="play forward">
          <div class="arrow"></div>
        </div>
        <div class="pause"></div>
      </div>
      <div id="skipForward" class="playerFooter btn hoveritem">
      </div>
    </div>
  </div>
</div>