<div id="ModalCVVKeyboard" class="CVVKeyboard">
  <div id="CCContainer">
    <div class="CC">
      <div class="CCNumber"></div>
      <div class="Name"></div>
      <div id="Exp"></div>
    </div>
    <div class="CCCloseUp">
    </div>
  </div>
  <div class="text"></div>
  <div class="CVVKeyboardInput">
    <p></p>
    <div class="CVVKeyboardInputOverlay hoveritem"></div>
  </div>
  <div class="errorMessage"></div>
  <div class="kbContainer">
    <!-- First letters row -->
    <div class="CVVKeyboardFirstRow">
      <div class="CVVKeyboardLetters">
        <div id="keyboard-0-0" class="CVVKeyboardKey hoveritem">
          <div></div>
          <span>1</span>
        </div>
      </div>
    </div>
    <!-- Second letters row -->
    <div class="CVVKeyboardSecondRow">
      <div class="CVVKeyboardLetters"></div>
    </div>
    <!-- Numbers row -->
    <div class="CVVKeyboardThirdRow">
      <div class="CVVKeyboardLetters">
        <!--                <div id="keyboard-2-0" class="CVVKeyboardSpace hoveritem">-->
        <!--                    <span class="CVVKeyboardSpaceText">Submit</span>-->
        <!--                </div>-->
        <div id="CVVKeyboardBtn" class="hoveritem">
          <div class="btn"></div>
        </div>
        <div id="keyboard-2-12" class="CVVKeyboardDelete hoveritem">
          <span class="CVVKeyboardDeleteText"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="kbBack_btn" class="hoveritemBack"></div>
</div>