<div id="ModalPurchase">
  <div class="creditCardSection">
    <div class="header"></div>
    <div class="details">
      <div class="instruction"></div>
      <div class="movietitle"></div>
      <div class="availability"></div>
      <div class="card"></div>
    </div>
    <div class="buttons">
      <div id="SelectSingle" class="btn hoveritem"></div>
      <div id="SelectBundle" class="btn hoveritem"></div>
      <div id="PayNow" class="btn PayNow hoveritem"></div>
      <div id="ChangeCC" class="btn ChangeCC hoveritem"></div>
      <div class="tick"></div>
    </div>
  </div>
  <div class="changeCreditCardSection">
    <div class="header"></div>
    <div id="cardList"></div>
    <div id="btnConfirmCC" class="btnConfirmCC hoveritem"></div>
  </div>
  <div class="ticketSection">
    <div class="header"></div>
    <div class="details">
      <div class="ticketCount"></div>
      <div class="movietitle"></div>
      <div class="availability"></div>
    </div>
    <div class="buttons">
      <div id="PayNowTicket" class="btn PayNow hoveritem"></div>
    </div>
  </div>
  <div class="selectMethod">
    <div id="PayCC" class="btn PayCC hoveritem"></div>
    <div id="Paytickets" class="btn Paytickets hoveritem"></div>
  </div>
  <div id="back" class="back hoveritemBack"></div>
</div>