<div id="Player">
  <div id="previewThumbs"></div>
  <div id="playSpeedBox">
    <div id="playSpeed"></div>
    <div class="arrows"></div>
  </div>
  <div id="captions"></div>
  <div id="PlayerControls" class="playerFooter">
    <div id="captionLanguageList"></div>
    <div id="playerFooter">
      <div id="progressBar" class="playerFooter">
        <div id="buffer" class="playerFooter"></div>
        <div id="progress" class="playerFooter"></div>
      </div>
      <div id="back" class="playerFooter hoveritemBack"></div>
      <div id="skipBack" class="playerFooter btn hoveritem"></div>
      <div id="rewind" class="playerFooter btn hoveritem">
        <div class="arrows backward">
        </div>
      </div>
      <div id="playPause" class="playerFooter btn hoveritem paused">
        <div class="play forward">
        </div>
        <div class="pause">
          <div class="rect"></div>
          <div class="rect"></div>
        </div>
      </div>
      <div id="forward" class="playerFooter btn hoveritem">
        <div class="arrows forward">
        </div>
      </div>
      <div id="CC" class="playerFooter btn hoveritem"><p></p>
      </div>
      <div id="skipForward" class="playerFooter btn hoveritem"></div>
      <div id="errorMsg"></div>
      <div id="time" class="playerFooter"><span>00:00:00</span> / <span>00:00:00</span></div>
    </div>
  </div>
</div>