<div id="Profile">
  <div id="profileTitle"></div>
  <div id="ProfileContainer" class="loggedIn">
    <div id="profileInfos">
      <div>
        <p id="profileName"></p>
        <p id="profileClientName"></p>
      </div>
      <div>
        <p id="profileEmail"></p>
        <p id="profileClientEmail"></p>
      </div>
      <div>
        <p id="profileTickets"></p>
        <p id="profileClientTickets"></p>
      </div>
    </div>
    <div id="profileButtons">
      <div id="btn_sign_in" type="button" class="profileButtonsDef hoveritem"></div>
      <div id="btn_register" type="button" class="profileButtonsDef hoveritem"></div>
      <div id="btn_parental_controls" type="button" class="profileButtonsDef hoveritem"></div>
      <div id="btn_choose_language" type="button" class="profileButtonsDef hoveritem"></div>
      <div id="btn_about" type="button" class="profileButtonsDef hoveritem"></div>
      <div id="btn_help" type="button" class="profileButtonsDef hoveritem"></div>
      <div id="btn_terms_conditions" type="button" class="profileButtonsDef hoveritem"></div>
      <div id="btn_sign_out" type="button" class="profileButtonsDef hoveritem"></div>
    </div>
    <div class="termsSupportScreen">
      <div class="content">
      </div>
    </div>
  </div>
</div>
</div>