<div id="VCheckBoxList">
  <div id="VCheckBox_Item_0" class="VCheckBox_Item">
    <div id="fahrenheit">
      <p class="text-style-2">
        Fahrenheit
      </p>
    </div>
    <div id="VCheckBox_Item_0_radio" class="VCheckBox_radio"></div>
    <div id="VCheckBox_Item_0_Overlay" class="VCheckBox_Item_Overlay hoveritem"></div>
  </div>
  <div id="VCheckBox_Item_1" class="VCheckBox_Item">
    <div id="celsius">
      <p class="text-style-2">
        Celsius
      </p>
    </div>
    <div id="VCheckBox_Item_1_radio" class="VCheckBox_radio"></div>
    <div id="VCheckBox_Item_1_Overlay" class="VCheckBox_Item_Overlay hoveritem"></div>
  </div>
</div>