<div id="VerticalCarousel" class="V_Carousel">
  <div id="Top_Arrow" class="V_Carousel hoveritem Arrow"></div>
  <ul>
    <li id="V_Carousel_Item_pos_0" class="carouselElement">
      <!--all image an text elements can go here-->
      <div class="content"></div>
      <div id="V_Carousel_Item_pos_0_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </li>
    <li id="V_Carousel_Item_pos_1" class="carouselElement">
      <!--all image an text elements can go here-->
      <div class="content"></div>
      <div id="V_Carousel_Item_pos_1_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </li>
    <li id="V_Carousel_Item_pos_2" class="carouselElement">
      <!--all image an text elements can go here-->
      <div class="content"></div>
      <div id="V_Carousel_Item_pos_2_Overlay" class="Carousel_Item_Overlay hoveritem"></div>
    </li>
  </ul>
  <div id="Bottom_Arrow" class="V_Carousel hoveritem Arrow"></div>
</div>